@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

:root {
    --main-bg-color: #DFD2E5;
    --footer-bg-color: #434051;
}

html {
    background-color: var(--main-bg-color);
    font-family: Montserrat;
    font-size: 14px;
}

header {
    background-color: white;
}

footer {
    background-color: var(--footer-bg-color);
}


#search-field {

    border-radius: 20px;
    border: 2px solid #f0f1f4;
    background-color: #f6f7fa;
    height: 30px;
    padding-left: 14px;
}

input::-webkit-input-placeholder {
    padding-left: : 30px;
    font-size: 14px;
    color: #DFD2E5;
}

.search-field-wrap__label {
    color: grey;
    font-size: 11px;
}

.checkbox-wrap {
    border: none;
    display: grid;
    grid-template-columns: 20px 100px;
    grid-gap: 13px;
}

.checkbox-wrap__checkbox {
    line-height: 25px;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #545b70;
}

.checkbox-wrap__checkbox--active {
    font-size: 10px;
    display: block;
    width: 2em;
    height: 2em;
    background: white;
    border: 2px solid grey;
    position: relative;
    border-radius: 5px;
}

.checkbox-wrap__checkbox--active:before {
    content: '';
    width: 0.7em;
    height: 0.35em;
    border: 4px solid transparent;
    border-top: none;
    border-radius: 10px;
    border-right: none;
    transform: rotate(-45deg);
    position: absolute;
    left: 0.5em;
    top: 0.5em;
}

input[type="checkbox"] {
    display: none;
}


input[type="checkbox"]:checked+.checkbox-wrap__checkbox--active:before {
    border-color: #58d4e6;
}


.checkbox-wrap__checkbox__point--active {
    font-size: 10px;
    display: block;
    width: 2em;
    height: 2em;
    background: white;
    border: 2px solid grey;
    position: relative;
    border-radius: 50%;
}

.checkbox-wrap__checkbox__point--active:before {
    content: '';
    width: 0.2em;
    height: 0.2em;
    border: 4px solid transparent;
    border-radius: 50%;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
}

input[type="checkbox"]:checked+.checkbox-wrap__checkbox__point--active:before {
    background-color: #58d4e6;
}

.button-wrap__sign-in {
    height: 30px;
    background-color: white;
    border: 2px solid #f0f1f4;
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #545b70;
    cursor: pointer;
    -webkit-user-select: none;
}


.main-search-field {
    display: flex;
    border: none;
    outline: none;
    font-size: 19px;
    background-image: url('../media/images/searchicon.png');
    background-position: 5% center;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 40px;
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
*/}

.burger {
    border-bottom: 10px double #434051;
    border-top: 3px solid #434051;
    cursor: pointer;
    height: 4px;
    transition: all 0.2s ease 0s;
    width: 25px;
    display: block;
}

.basket-wrap {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.basket-wrap__count {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #bec2c8;
    margin: 1em;
    border-radius: 50%;
    text-align: center;
}

.basket-wrap__text {
    font-size: 11px;
    font-weight: bold;
}

.button-wrap__support {
    height: 30px;
    background-color: white;
    border: none;
    font-size: 11px;
    font-weight: bold;
    color: #545b70;
    cursor: pointer;
    -webkit-user-select: none;
}










