.main-header-wrap {
    border-bottom: 1px solid grey;
}

.main-header-container {
    margin: auto;
    display: flex;
    align-items: center;
    height: 88px;
    background: #fff;
}

.burger-wrap {
    display: flex;
    border: none;
    padding-left: 15px;
    width: 63px;
    height: 100%;
    align-items: center;
}

.logo-wrap {
    padding-left: 30px;
    flex: 21%;
}

.main-header__navigation {
    flex: 50%;
}

.main-header__navigation a:hover {
    transition: 0.5s;
    color: white;
    background: rgb(67, 64, 81);
}

.main-header__navigation a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}


.header-button {
    width: 86px;
}

.button-wrap__sign-in:hover {
    transition: 1s;
    color: white;
    background: rgb(67, 64, 81);
}

.bottom-header-wrap {
    border-bottom: 1px solid grey;
}

.bottom-header {
    display: flex;
    align-items: center;
    height: 56px;
    margin: auto;
    background: #fff;
}

.bottom-header__navigation {
    flex: 70%;
}

.bottom-header__navigation a {
    color: grey;
    font-weight: bold;
    text-decoration: none;
}

.bottom-header__navigation a:hover {
    color: rgb(67, 64, 81);
    transition: 1s;
}

.main-search-wrap {
    height: 100%;
    border: none;
    margin: auto;
}

.support-button {
    margin: auto;
}

.header-search {
    line-height: 35px;
}

.main-header__navigation,
.bottom-header__navigation,
.button-wrap__support,
.button-wrap__support,
.button-wrap__sign-in {

    display: none;
}




/*320, 480, 768, 992, 1200*/

@media (min-width: 320px) {

    .basket-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        text-align: right;
    }

    .main-search-field {
        padding-left: 60px;
    }
    .logo-wrap {
        margin: 0 auto;
        text-align: center;
    }
}

@media (min-width: 480px) {
    .button-wrap__support {
        display: block;
    }

    .main-search-wrap {
        border: 1px solid black;
        border-top: none;
        border-bottom: none;
    }
}



@media (min-width: 768px) {

    .bottom-header__navigation {
        display: block;
    }
    .bottom-header__navigation a {
        font-size: 10px;
        padding: 20px 0px 20px 10px;
    }
    .support-button {
        padding-right: 32px;
    }
    .main-search-field {
        padding-left: 40px;
    }
}

@media (min-width: 992px) {

    .button-wrap__sign-in {
        display: block;
    }
    .logo-wrap {
        text-align: left;
    }
    .basket-wrap {
        position: relative;
        flex: 7%;
        padding-left: 30px;
        padding-right: 20px;
    }

    .main-header-container,
    .bottom-header {
        max-width: 992px;
    }
    .main-header__navigation {
        display: block;
    }
    .main-header__navigation a {
        font-size: 12px;
        padding: 37px 10px 36px 10px;
    }
    .burger-wrap {
        border-right: 1px solid grey;
        padding-left: 0;
    }
    .bottom-header__navigation a {
        font-size: 11px;
        padding: 20px 32px 20px 0;
    }

    .header-search {
        width: 200px;
    }
}

@media (min-width: 1200px) {

    .main-header-container,
    .bottom-header {
        max-width: 1170px;
    }
    .main-header__navigation a {
        font-size: 14px;
        padding: 36px 15px 36px 10px;
    }
}